body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.coursePanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.courseCard {
  flex-basis: 48%;
  border: 1px solid rgb(0, 158, 116);
  box-shadow: 0 0 10px rgba(21, 0, 89, 0.25);
  border-radius: 3px;
  transform: scale(1);
  margin: 1%;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .courseCard {
    flex-basis: 100%;
  }
}

.courseCard:hover {
  background-color: rgb(238, 254, 255);
  box-shadow: 0 0 10px rgba(21, 14, 43, 0.5);
  transform: scale(1.05);
  transition: all 0.2s;
}

.courseCard h2 {
  color: rgb(2, 128, 0);
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.courseCard .courseDescription {
  color: rgb(53, 53, 53);
  font-size: 12px;
  font-weight: 300;
}

.courseCard .details {
  color: rgb(58, 59, 58);
  font-size: 12px;
  font-weight: 600;
}